body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body,
input,
button {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #bdc1c6;
}
body {
  background-color: #202124;
  display: block;
}

.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexNav {
  display: flex;
  min-width: 40px;
}
